body{
    background-color: rgb(1, 31, 1);
    color: white;
    font-family: 'Devonshire', cursive;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}